.App {
	text-align: center;
}

.cards-wrapper {
	margin: 150px 0;
	display: flex;
	justify-content: space-around;
}

.app-CardOne {
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(1, 0.21, 0.33, 1.7);
}

.app-CardTwo {
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(1, 0.21, 0.33, 1.7);
}

.app-CardThree {
	transition: transform 0.8s;
	transition-timing-function: cubic-bezier(1, 0.21, 0.33, 1.7);
}

.app-CardOne:hover {
	transform: scale(1.2);
}

.app-CardTwo:hover {
	transform: scale(1.2);
}

.app-CardThree:hover {
	transform: scale(1.2);
}
